@using Stack_Exchange_Voting_Utility.Models;
@using Microsoft.AspNet.Identity;

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Vinder</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

    @if (User.Identity.IsAuthenticated)
    {
        using (var db = new ApplicationDbContext())
        {
            var user = db.Users.Find(User.Identity.GetUserId());

            if (user.Theme == SelectedTheme.Dark)
            {
                @Styles.Render("~/Content/cssDark")
            }
        }
    }
</head>
<body>
    <div class="main">
        <div class="navbar navbar-inverse navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    @Html.ActionLink("Vinder", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
                </div>
                <div class="navbar-collapse collapse">
                    @Html.Partial("_LoginPartial")
                </div>
            </div>
        </div>
        <div class="container body-content">
            @RenderBody()
        </div>
        <footer>
            <p>
                Software copyright &copy; @DateTime.Now.Year Elliott Brown Computer Solutions; All Rights Reserved. <a href="https://github.com/EBrown8534/Vinder">Vinder on GitHub</a><br />
                Question/Answer content licensed under <a href="https://creativecommons.org/licenses/by-sa/3.0/">CC-BY-SA 3.0</a> with <a href="https://stackoverflow.blog/2009/06/25/attribution-required/">attribution required</a> and delivered from <a href="https://stackexchange.com/">Stack Exchange</a>
            </p>
        </footer>

        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrap")
        @RenderSection("scripts", required: false)
    </div>
</body>
</html>
