@using Microsoft.AspNet.Identity
@using Stack_Exchange_Voting_Utility.Models;
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
        var user = new ApplicationUser();
        using (var db = new ApplicationDbContext())
        {
            user = db.Users.Find(User.Identity.GetUserId());
        }
        @Html.AntiForgeryToken()

        <ul class="nav navbar-nav navbar-right">
            <li>
                @Html.ActionLink("Toggle Theme", "ToggleTheme")
            </li>
            <li>
                <img src="@user.AvatarUrl" width="32" height="32" style="margin-top: 8px;" />
            </li>
            <li>
                <span>@user.DisplayName (@user.Reputation rep)</span>
            </li>
            <li><a href="javascript:document.getElementById('logoutForm').submit()">Log off</a></li>
        </ul>
    }
}
else
{
    @*<ul class="nav navbar-nav navbar-right">
        <li>@Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
        <li>@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
    </ul>*@
}
